
body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding:0;
    margin: 0;
    top: 0;
    margin-top: -10px;
    margin-bottom: -10px;
  

}

nav{

   text-transform: none;
   line-height: 50px;
   margin-top: 0.1em;
   background: linear-gradient(to left, #EFE1D1 50%,#A78295  50%) right;
   background-size: 200%;
   transition: .5s ease-out
}
nav:hover{
background-position: left;

}
@keyframes example {
    from {background-color: grey;}
    to {background-color: red;}
  }

#navbarSupportedContent ul{
list-style: none;

animation:none;
margin-top: 1%;
transform: none;
text-align: left;
text-justify:auto;

}

#navbarSupportedContent li{
    list-style: none;
   
    margin-right: 10px;

    animation:none;
    transform: none;
   cursor: pointer;
    
}










img{
    width: 50%;
    
    z-index: -1;
    float:left;
    overflow-x: clip;
    margin-left: -10vw;
}
#img{
    

    background: linear-gradient(to left, #EFE1D1 50%,#A78295  50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    overflow-x: clip;
  width: 200%;
  margin-top: 10px;
  
  border: black 10px solid;
  height: 100px;

}
#img #job{
    background: linear-gradient(to left, #EFE1D1 50%,#A78295  50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    overflow-x: clip;
   margin-top: 50px;
    float:left;
    border: black 10px solid;


}

#img:hover #job{
   
margin-left: 5%;
transition: 1s;
background-position: left;
    
}
#img:not(:hover) #job{
   
    transition: 1s;
        
    }
#job p{
    margin-right: 100px;
}
.row{
    background: grey;
  }
  svg{
    color: white;
  }